[Unit]
Description=Poll for Flock CCTV updates

[Timer]
OnBootSec=10min
OnCalendar=*:0/15
Persistent=true
Unit=flock-cctv-update.service

[Install]
WantedBy=timers.target
